PML/conf/parallel.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by XML Authority-->

<!ELEMENT root (#PCDATA | reference | parallel)*>

<!ELEMENT reference (#PCDATA)>
<!ATTLIST reference id CDATA #IMPLIED >

<!ELEMENT parallel (#PCDATA | reference | master)*>
<!ATTLIST parallel  appname CDATA  #REQUIRED >

<!ELEMENT master (#PCDATA | send | read | worker)*>
<!ATTLIST master  id CDATA  #REQUIRED >

<!ELEMENT worker (#PCDATA | read | send | target)*>

<!ELEMENT send EMPTY>
<!ATTLIST send  var     CDATA  #REQUIRED
                type    CDATA  #REQUIRED
                opt     CDATA  #IMPLIED >

<!ELEMENT read EMPTY>
<!ATTLIST read  var     CDATA  #REQUIRED
                type    CDATA  #REQUIRED
                opt     CDATA  #IMPLIED >

<!ELEMENT target (#PCDATA)>
<!ATTLIST target    index   CDATA  #REQUIRED
                    order   CDATA  #REQUIRED
                    limits  CDATA  #REQUIRED
                    jump    CDATA  #IMPLIED
                    chunk   CDATA  #IMPLIED >
